@import url('./node_modules/simpledotcss/simple.min.css');

:root {
  font-family: IBM, monospace;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top: 0px !important;
  font-size: 12px !important;
}

section {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
}
a {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 4rem;
  color: #f5f7ff !important;
}

a:hover {
  opacity: .7;
}

a:active {
  opacity: .6;
}

a.linkedin {
  background-color: #0A66C2;
}

a.github {
  background-color: #34465D;
}

a.blog {
  background-color: #3AAF85;
}

a.portfolio {
  background-color: #E4405F;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.disabled:hover{
  cursor: default;
  text-decoration: none;
}
