@import '@/assets/color_palette.css';

body {
  min-height: 100vh;
  color: var(--text-primary);
  background: var(--background-primary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'IBM', monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border-bottom: 1px solid var(--border-primary);
  padding: 2rem;
}

.nav-link {
  color: var(--text-primary);
}

.navbar-toggler {
  border-radius: 0px;
}

footer {
  border-top: 1px solid var(--border-primary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 20px 20px 20px;
}

.img_gfmc{
  max-width: 20%;
}

.general-container{
  padding: 4rem 2rem;
}

button:hover{
  border-color: #343a40;
}

.btn {
  border-radius: 0px;
}